# Виртуальное окружение
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Конфигурационные файлы с секретами
config.py
.env

# База данных
*.db
*.sqlite
*.sqlite3

# Временные файлы
.DS_Store
Thumbs.db
